.card {
    border-style: solid;
    border-width: 2px;
    padding: 5px 10px;
    transition: 00.1s ease;
    &:hover {
        box-shadow: 0 0 8px 4px rgba(221, 255, 10, 0.89);
        transition: 0.3s ease;
    }
    max-width: 400px;
}

.image {
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

.title {
    margin: 0px;
    transition: 00.1s ease;
    &:hover {
        color: royalblue;
        transition: 0.3s ease;
    }
    cursor: pointer;
}

.description {
    line-height: 1.5em;
    height: 3.5em;
}
