.card {
    border-style: solid;
    border-width: 2px;
    padding: 5px 10px;
    max-width: 500px;
}

.red,
.yellow {
    transition: 00.2s ease;
    &:hover {
        transition: 0.2s ease;
    }
    transform: translate3d(0, 0, 0);
}

.red {
    &:hover {
        box-shadow: 0 0 4px 4px rgba(221, 10, 10, 0.89);
    }
}

.yellow {
    &:hover {
        box-shadow: 0 0 4px 4px rgba(221, 255, 10, 0.89);
    }
}
.image {
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

.title {
    margin: 0px;
    transition: 00.1s ease;
    &:hover {
        color: royalblue;
        transition: 0.3s ease;
    }
    cursor: pointer;
}

.description {
    line-height: 1.5em;
    height: 3.5em;
}
