@import url("https://fonts.googleapis.com/css2?family=Anybody&family=Nunito&display=swap");

body {
    background: #f2f2f2;
    color: #333;
    font-family: "Nunito";
    margin: 0;
}
a {
    color: #222;
    text-decoration: none;
    &:hover {
        color: royalblue;
    }
}

main {
    margin-left: 7.5px;
    margin-right: 10px;
}

.fa,
.fab,
.far {
    margin-right: 5px;
    vertical-align: middle;
}
